:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    --font: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-ExtraBold.ttf');
    font-weight: 800;
}


@supports(font-variation-settings: normal){
    @font-face {
        font-family: 'Inter';
        src: url('../assets/fonts/Inter-VariableFont_wght.ttf') format('truetype supports variations'),
        url('../assets/fonts/Inter-VariableFont_wght.ttf') format('truetype-variations');
        font-weight: 400 800;
    }
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: var(--font);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
    height: 7rem;

}         

.header__logo{
    width: 5rem;
    height: 4rem;

    background-image: url('../assets/images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem auto;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;

    display: none;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.432);
}
.nav__list{
    position: relative;

    padding: 15rem 0 0 3rem;
    margin: 0;
    height: 100%;
    width: 26rem;

    background-color: white;
}

.nav__list li{
    padding-block-end: 3rem;
    
    list-style: none;
}

.nav__list li a{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;

    transition: all ease-in 0.1s;
    color: black;
}
.nav__button{
    width: 4rem;
    height: 5rem;

    border: none;
    background-color: transparent;
    background-image: url('../assets/images/icon-menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4rem auto;
    cursor: pointer;
}
.nav__close_button{
    position: absolute;
    top: 3rem;
    right: 3rem;

    width: 3rem;
    height: 3rem;

    border: none;
    background-color: transparent;
    background-image: url('../assets/images/icon-menu-close.svg');
    background-size: 3rem 3rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    
    width: 100%;
    padding: 0 2rem;
    margin-block-start: 1rem;
}
.main__frontpage{
    margin-block-end: 5rem;
}
.frontpage__image{
    margin-block-end: 2rem;
}
.frontpage__title{
    margin-block-end: 2rem;

    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;

    color: var(--very-dark-blue);
}
.frontpage__paragraph{
    margin-block-end: 2.5rem;

    color: var(--very-dark-blue);
}
.frontpage__button{
    width: 20rem;
    height: 5rem;

    font-weight: 600;
    letter-spacing: 0.6rem;

    color: var(--off-white);
    border: none;
    background-color: var(--soft-red);
    cursor: pointer;
    transition: all ease-in 0.1s;
}
.main__news_article{
    padding: 1.5rem 2rem 0rem 2rem;
    margin-block-end: 5rem;

    background-color: var(--very-dark-blue);
}
.news_article__title{
    margin-block-end: 0rem;

    font-size: 3rem;
    line-height: 3rem;

    color: var(--soft-orange);
}
.news_article__new{
    margin: 2.8rem 0;
}
.news_article__new a{
    text-decoration: none;

    color: white;
}
.news_article__new a h2{
    margin-block-end: 0.8rem;

    font-size: 2rem;

    transition: all ease-in 0.1s;
}

.news_article__new a p{
    color: var(--grayish-blue);
}

hr{
    border-color: var(--grayish-blue);
}
.main__other_news{

}
.other_news__new a{
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: auto;
    gap: 1.5rem;

    margin-block-end: 3rem;

    text-decoration: none;
}
.other_news__content{

}
.other_news__content span{
    font-size: 3.5rem;
    font-weight: 800;

    color: var(--grayish-blue);
}
.other_news__content h2{
    margin-block-end: 1rem;

    font-size: 1.8rem;
    line-height: 2rem;

    color: var(--very-dark-blue);
    transition: all ease-in 0.1s;
}
.other_news__content p{
    font-size: 1.4rem;

    color: var(--dark-grayish-blue);
}
.other_news__image{

}

@media screen and (min-width: 800px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        padding-block-start: 2rem;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 0 2rem;
        margin-block-end: 1rem;
        height: 7rem;
        width: 100%;
        min-width: 80rem;
        max-width: 110rem;
    }         
    
    nav{
        position: initial;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: initial;
    
        width: 50rem;
        height: auto;
    
        background-color: transparent;
    }

    .nav__list{
        position: initial;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0rem 0 0 0rem;
        margin: 0;
        height: 100%;
        width: 100%;
    
        background-color: transparent;
    }
    .nav__list li{
        padding-block-end: 0rem;
    }
    
    .nav__list li a{
        color: var(--dark-grayish-blue);
    }

    .nav__button{
        display: none;
    }
    .nav__close_button{
        display: none;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50rem 15rem;
        grid-template-areas: 'frontpage frontpage news'
                            'other_news other_news other_news';
        row-gap: 5rem;
        column-gap: 3rem;
        
        max-width: 110rem;
        width: auto;
        padding: 0 2rem;
        margin-block-start: 1rem;
    }

    .main__frontpage{
        grid-area: frontpage;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'image image'
                            'title text';
        row-gap: 3rem;
        column-gap: 3rem;

        margin-block-end: 0rem;
    }

    .frontpage__image{
        grid-area: image;

        margin-block-end: 0rem;
    }

    .frontpage__title{
        grid-area: title;

        padding-inline-end: 0rem;
        margin-block-end: 0rem;
    
        font-size: 5.5rem;
        line-height: 6rem;
    }

    .frontpage__paragraph{
        grid-area: text;
        margin-block-end: 0rem;

    }
    .frontpage__button{
        grid-area: text;
        align-self: end;
    }

    .main__news_article{
        grid-area: news;

        padding: 3rem 2rem 0rem 2rem;
        margin-block-end: 0rem;
    
        background-color: var(--very-dark-blue);
    }

    .main__other_news{
        grid-area: other_news;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 3rem;
        
    }
}

@media (hover:hover) {
    .nav__list li a:hover{
        color: var(--soft-orange);
    }

    .frontpage__button:hover{
        background-color: var(--very-dark-blue);
    }

    .news_article__new h2:hover{
        color: var(--soft-orange);
    }

    .other_news__content h2:hover{
        color: var(--soft-red);
    }
}